<div style="padding: 25px;" *ngIf="true">
    <div>
        <h2>Assets Information</h2>
    </div>
    <div style="padding:25px;">

        <mat-form-field class="example-full-width">
            <mat-label>Asset Number</mat-label>
            <input matInput value="1" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Product Name</mat-label>
            <input matInput value="HP 2500" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Product Type</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of type" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Manufacturer Name</mat-label>
            <input matInput value="HP" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Vendor Name</mat-label>
            <input matInput value="Best Buy" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Procurement Method</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of procurement" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date Obtained</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Cost </mat-label>
            <input matInput value="$187" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Business Impact</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of impact" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Asset State</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of AssetState" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Depreciation Method</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of Depreciation" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of location" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of department" [value]="food.value">
                    {{food.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <br>
        
        <div style="width: 40%; margin: 0 auto;">
            <button mat-raised-button>Software Assets</button>
            <button mat-raised-button style="float:right">Computer Assets</button>
        </div>

    </div>
    <br>
    <br>
    <hr>
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button style="float:right">Save</button>


</div>