<div class="container">
  <mat-tab-group style="width: 100%; font-size: 110%;">

    <mat-tab label="Employees">
      <div style="padding: 25px;" *ngIf="true">
        <div>
          <h2>Employee Information</h2>
        </div>
        <div style="padding:25px;">

          <mat-form-field>
            <mat-label>Select an employee</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of employee" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>Employe Number</mat-label>
            <input matInput placeholder="Enter Employee Number" value="1234567" required>
          </mat-form-field>
          <br>
          <br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Requestor" [checked]="true">Requestor</mat-radio-button>
            <mat-radio-button value="Agent" style="margin-left: 50px;">Agent</mat-radio-button>
          </mat-radio-group>
          <br>
          <br>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput value="Jerry" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput value="Wang" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Middle Name (Optional)</mat-label>
            <input matInput value="">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Position</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of position" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of department" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of location" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Work Email Address</mat-label>
            <input matInput value="kaixin.wang@conestoga.on.ca" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Work Phone</mat-label>
            <input matInput value="226-592-1424" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone Extension</mat-label>
            <input matInput value="5775" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Notes</mat-label>
            <input matInput value="There are no additional notes about this employee" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Image Name</mat-label>
            <input matInput value="KaixinWang.jpg" required>
          </mat-form-field>
          <br>
          <br>
          <div style="width: 40%; margin: 0 auto;">
            <button mat-raised-button>Requester</button>
            <button mat-raised-button style="float:right">Agents</button>
          </div>
          <br>
          <br>
          <hr>
          <button mat-raised-button>Cancel</button>
          <button mat-raised-button style="float:right">Save</button>


        </div>
      </div>

      <!--Request Section-->
      <!--Request Section-->
      <!--Request Section-->

      <div style="padding: 25px;" *ngIf="false">
        <div>
          <h2>Requesters</h2>
        </div>
        <div style="padding:25px;">
         
          <mat-form-field>
            <mat-label>Business Impact</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of impact" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <Br>
          <br>
          <mat-checkbox>VIP</mat-checkbox>
          <br>
          <br>
          <mat-checkbox>Servicce Request Approver</mat-checkbox>
          <br>
          <br>
          <mat-checkbox>P.O. Approver</mat-checkbox>



          
          <br>
          <br>
          <hr>
          <button mat-raised-button>Cancel</button>
          <button mat-raised-button style="float:right">Save</button>


        </div>
      </div>

      <div style="padding: 25px;" *ngIf="true">
        <div>
          <h2>Agents</h2>
        </div>
        <div style="padding:25px;">
         
          <mat-form-field>
            <mat-label>Service Tier</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of Tier" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Position</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of position1" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Team</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of team" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of Role" [value]="food.value">
                {{food.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
          <mat-form-field class="example-full-width">
            <mat-label>Private Phone Number</mat-label>
            <input matInput value="225-254-1523" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Private Email Address</mat-label>
            <input matInput value="agents.name@conestogac.ca" required>
          </mat-form-field>
          <br>
          <br>
          <hr>
          <button mat-raised-button>Cancel</button>
          <button mat-raised-button style="float:right">Save</button>


        </div>
      </div>
    </mat-tab>




    <mat-tab label="Assets">   <app-assets></app-assets> </mat-tab>
    

    <mat-tab label="Tickets"> <app-tickets></app-tickets> </mat-tab>
    
    <mat-tab label="Tickets">  <app-vendors></app-vendors> </mat-tab>

   
  </mat-tab-group>
</div>